@model ChildrenCare.DTOs.AppUserDTOs.RegisterRequestDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        Layout = "_LayoutRegister";
     ViewData["Title"] = "Register";
}

            <h1><span class="h1">Create Account</span></h1>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form asp-action="Register" asp-controller="AppUser" method="post" class="inputform">

                <input asp-for="FullName" type="text" class="sign-up-input" placeholder="Fullname"/>
                @*<div>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>*@

                    <input asp-for="Email" type="email" class="sign-up-input" placeholder="Email"/>

                @*<div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>*@
                
                <!-- Phone Number input -->
                    <input asp-for="PhoneNumber" class="sign-up-input" placeholder="Phone number"/>
                @*<div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>*@
                
                <!-- Gender input -->
                    @Html.DropDownListFor(model=>model.Gender, Model.GenderList, htmlAttributes:new{@class="sign-up-input"})

                    <input asp-for="Password" type="password" class="sign-up-input" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input asp-for="ConfirmPassword" type="password" class="sign-up-input" placeholder="Confirm password"/>
                @*<div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>*@

                <!-- Submit button -->
                <button type="submit" class="submit">CREATE</button>
                @*<button type="submit" class="btn btn-primary btn-block mt-3">Register</button>*@
            </form>

            <span class="signin"><p>Already have an account?<a asp-controller="AppUser" asp-action="Login"> Login here</a></p></span>
            <div class="or"><span> Or </span></div>
            <div class="return"><a asp-area="" asp-controller="Home" asp-action="Index">Return home</a></div>