<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eror!</title>
    <link rel="icon" href="~/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <div>
        <img src="~/images/block.jpg" alt="block" style="height: 100vh; width: 100vw"/>
    </div>
    <div hidden>
        @RenderBody()
    </div>
</body>
</html>
